body{
    text-align: center;
    background: #00ECB9;
    font-family: sans-serif;
    font-weight: 100;
}

h1{
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

#reloj {
    position: center;
    top:40px;
    left:120px;
    font-size: 30px;
    color:#000000;
}