article{
	float:left;
	width: 100;
	border: 10px;
	height: 300px;
}

#contenedor{
	width: 950px;
	margin: 0 auto;
	height: 300px;
	text-align: center;
}

h1{
	color: #55DBE7;
	font-size: 35px;
	font-family: Verdana;
	text-align: center; 
}

img{
	margin-left:30px;
	width:200px; 
	height:200px;
}

.menu{
	width: 100%;
	height: 60px;
	text-align: center;
}

.menu2{
	padding-top: 0.1cm;
	display: none;
}

.boton{
	width: 40%;
	height: 30px;
}
